<!DOCTYPE html>
<html>
<head>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<title>Hello from Flask</title>
<body>
  <div class="container">
     <form>
       <input class="channel-input" type="number" placeholder="First input here" id="channel1" value="{{model.channel }}"/>

        {% if model.name %}

          <h1>Hello {{ model.name }}!</h1>
          {% else %}
            <h1>Hello World!</h1>
            {% endif %}
     </form>

  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/script.js')}}"></script>
</body>
</html>
